@use "../../styles/breakpoint";
@use "../../styles/variable";
.header {
  grid-area: header;
  padding: 24px;
  font-size: variable.$font-size2;
  font-weight: 700;
}

.display_none {
  @include breakpoint.tablet {
    display: none;
  }
}
.display_block {
  @include breakpoint.tablet {
    display: block;
  }
}
