@use "../../styles/breakpoint";
@use "../../styles/variable";
.wrap_logo {
  background-color: #fff;
  a {
    display: block;
    height: 50px;
    transform: scale(1);
    transition: transform 0.5s;
    img {
      height: 100%;
    }
    &:hover {
      transform: scale(1.1);
    }
    @include breakpoint.tablet {
      display: inline-block;
    }
  }
  .wrap_toggle {
    display: none;
  }
  @include breakpoint.tablet {
    position: relative;
    text-align: center;
    .wrap_toggle {
      img {
        display: block;
      }
      padding: 6px;
      border-radius: 8px;
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      cursor: pointer;
      background-color: variable.$primary_color3;
      &:hover {
        background-color: variable.$primary_color2;
      }
      &:active {
        background-color: variable.$primary_color3;
      }
    }
  }
}
@include breakpoint.tablet {
  .sidebar_show {
    transition: max-height 0.5s ease-in-out;
    max-height: 100vh;
    height: 100vh;
  }
}
.destination_show {
  max-height: 100vh;
}
