@use "../../styles/mixin";
@use "../../styles/variable";
.container {
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-areas:
    "sidebar   banner"
    "sidebar  article"
    "sidebar  footer"
    "sidebar  ."
    "sidebar       .";
  @include mixin.tablet {
    grid-template-columns: 1fr;
    grid-template-areas:
      "sidebar "
      " banner"
      "article"
      "footer";
  }
}

header {
  grid-area: banner;
  outline: 1px solid green;
  padding: 24px;
}

aside {
  grid-area: sidebar;
  position: sticky;
  top: 0;
  align-self: start;
  outline: 1px solid red;
  padding: 24px;
  @include mixin.tablet {
    position: static;
  }
}

.display_none {
  @include mixin.tablet {
    display: none;
  }
}
.display_block {
  @include mixin.tablet {
    display: block;
  }
}

article {
  padding: 24px;
  .wrap_visit_type_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 24px;
    h3 {
      font-size: variable.$font_size3;
      font-weight: 700;
    }
    p {
      color: variable.$primary_color1;
    }
  }
  .wrap_card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
    @include mixin.tablet {
      align-items: center;
    }
  }
}
