@use "../../styles/mixin";
@use "../../styles/variable";
.container {
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-areas:
    "sidebar   banner"
    "sidebar  article"
    "sidebar  footer"
    "sidebar  ."
    "sidebar       .";
  @include mixin.tablet {
    grid-template-columns: 1fr;
    grid-template-areas:
      "sidebar "
      " banner"
      "article"
      "footer";
  }
}
.header {
  grid-area: banner;
  outline: 1px solid green;
  padding: 24px;
}
.aside {
  grid-area: sidebar;
  position: sticky;
  top: 0;
  align-self: start;
  outline: 1px solid red;
  padding: 24px;
  @include mixin.tablet {
    position: static;
  }
}

.display_none {
  @include mixin.tablet {
    display: none;
  }
}
.display_block {
  @include mixin.tablet {
    display: block;
  }
}

.article {
  padding: 24px;
}
