@use "../../styles/breakpoint";

.wrap_card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px;
  @include breakpoint.tablet {
    align-items: center;
  }
}
