.wrap_information {
  padding: 8px 20px;
}
.wrap_location {
  img {
    vertical-align: middle;
  }
  line-height: 1.5;
}
.wrap_time_or_phone {
  img {
    vertical-align: top;
  }
  line-height: 24px;
}
